

html, body {
    height: 100%;
    background-size: cover;
    font-family: 'Pacifico', cursive;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
     background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    }

#clickhere{
    position: absolute;
    margin: auto;
    font-family: 'Pacifico', cursive;
    font-size: large;
    text-shadow: 1px 1px 1px #ccc

}
#ModalButton{
    opacity: 1;
    z-index: 3;
    margin: auto;
    position:relative;
    margin-top:50%;
    background-color: #39a9e0;
    color: aliceblue;
    font-size: medium;
    width:100%

}

#modalwin{
    background-image: url("Pictures/mapbackground.jpg");
    opacity:0.95;
}

#modalcontent{

    background-image: url("Pictures/grid.png");
    opacity:0.85;

}

#submitbut{
    background: #BFBFBF;
    box-shadow: 0 3px 0 0 #007299;
}

#submitbut:active, #submitbut:focus{
    background: #9A9A9A;
    box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;


}

#aboutpage{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#mybutton{
   bottom:0.7%;
    left:38%;
    position: absolute;
    z-index: 5;
    opacity: 1;
    box-shadow: 0 4px 0 0 #4787ed;
    background-color: #3b5998;
    min-width: 27%;
    overflow: auto;
    font-size: 25px;

}

#mainaboutcontainer{
    background-image: url("Pictures/grid.png") ;
    background-repeat: repeat;
    opacity: 0.9;
    position: absolute;
    top:55%;
    left:50%;
    top-margin:10%;
    transform: translate(-50%,-50%);
    font-family: 'Pacifico', cursive;
    width:65%;
    overflow: auto;
    
}

#maincontactcontainercontainer{
    background-image: url("Pictures/grid.png") ;
    background-repeat: repeat;
    opacity: 0.9;
    position: absolute;
    top:54.5%;
    left:50%;
    top-margin: 7%;
    transform: translate(-50%,-50%);
    font-family: 'Pacifico', cursive;
    width:55%;

}

#text{
    opacity: 1;
    margin: auto;
    font-family: 'Pacifico', cursive;
    font-size: medium;
    text-shadow: 1px 1px 1px #ccc

}

#exCollapsingNavbar{
    cursor: pointer;

}

.button {
	border-radius: 30px;
    box-shadow: 0 3px 0 0 #007299;
}


#poster{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    min-width: 70%;
    min-height: 70%;
    width: auto;
    height: auto;
    z-index: 1;

}


#datatoggler{
    cursor:pointer;
     cursor:hand;
}



.dropdown {
    cursor:pointer;
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

/* Footer Styles */
footer {
    margin: 50px 0;
}

/* Responsive Styles */
@media (max-width: 767px) {

    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
}