<!-- about.html -->



    <div class="container" id="mainaboutcontainer">
        <div class="span">
    <div class="jumbotron text-center">
        <h1 style="font-family: 'Shadows Into Light Two', cursive">About Us</h1>
        <!--  <p>{{ message }}</p>
        <button type="button" class="btn btn-info" ng-click="SendInfo()">Info</button> -->
     <span class="item" id="text" style="font-size: 25px"> <p>We are a group of travel enthusiasts. We understand how important your travel experience is!. So we are here to make
         it better.</p>
         <p>
         We take care of planning and organizing your tours for you. We also help you organize the memories of your precious trip so
         you can come back years later and relive those awesome moments.
         </p>
         <p>
         We'll take care of everything so just pack your bags and leave on your next big adventure.
         </p>
        <p>
         Regards,
         </p>
         <p>
         TripAround Team
         </p>

     </span>
    </div></div>
    </div>

